html,body{margin:0;background-color:#fff}
body { color: #000; font-size: 14px; background-color:#fff}

blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,th,ul { margin: 0; padding: 0 }
ul,li{margin:0;padding:0;list-style:none}

.interFont,body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}